@mixin button-lighten ($color) {
    &{
        transition: background-color .4s ease-in,
        color .4s ease-in;
        
    }
    &:hover {
        background-color: lighten($color, 15%);
        color: black;
    }
}