/* COLOR VARIABLES */

$color-green: #58e1c1;
$color-white: #fff;
$color-blue: #51ddfc;
$color-gray: #777;
$color-success: #63cc82;
$color-error: #e4757a;

/* MEDIA QUERIES BREAK POINTS VARIABLES */

$break: 768px;